@page "/editcustomer/{customerid}"
@inject INorthwindService service
@inject NavigationManager navigation
<h3>Edit Customer</h3>
<CustomerDetail ButtonText="Update" 
                Customer="@customer"
                OnValidSubmit="@Update" />
@code {
  [Parameter]
  public string CustomerID { get; set; }

  private Customer customer = new Customer();

  protected async override Task OnParametersSetAsync()
  {
    customer = await service.GetCustomerAsync(CustomerID);
  }

  private async Task Update()
  {
    await service.UpdateCustomerAsync(customer);
    navigation.NavigateTo("customers");
  }
}