@import "colors";

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
}

.sep {
    color: $text_primary;
    padding: 0 5px;
}

header[role="banner"] {
    border-bottom: solid 1px $border_color;
    margin-bottom: 2rem;

    .navbar {
        padding: .5rem 0;
        margin-left: -1rem;

        &.navbar-toggleable-sm {
            margin-left: 0;
        }

        .nav-item.active {
            a {
                color: #000;
                font-weight: 400;
            }
        }
    }

    .navbar-nav {
        .nav-item.active {
            color: #000;
            font-weight: 400;
        }
    }

    .navbar-toggler {
        background: #333;
        width: 2.3rem;
        height: 2.3rem;
        padding: .25rem 0;
        border-radius: 1.15rem;

        .navbar-toggler-icon {
            color: #fff;
        }
    }

    .buttons {
        padding: .75rem 0;
    
        a {
            padding-left: .5rem;
            opacity: .75;
            transition: opacity ease-in-out 0.1s;
    
            img {
                height: 20px;
            }

            &:hover {
                opacity: 1;
                transition: opacity ease-in-out 0.1s;
            }
        }
    }

    .title {
        background: $code_bg;
        border-top: solid 1px $border_color;

        h1 {
            font-size: 2rem;
            color: #333;
            margin: 20px 0 0;

            small {
                font-size: 0.8rem;
                text-transform: uppercase;
                padding-left: 1rem;
                color: #999;
            }
        }

        img {
            background: #fff;
            height: 100px;
            padding: 10px;
            border: solid 1px $border_color;
            float: right;
            margin: -.5rem 0 -1rem;
            border-radius: 50px;
        }
    }
}

footer {
    border-top: solid 1px $border-color;
    text-align: right;
    padding: 2rem 0;
    margin-top: 2rem;
    font-size: .8rem;

    a {
        font-weight: 400;
    }
}

.btn-link {
    color: $text_regular;
    border: solid 1px $text_primary;
    border-radius: 1.5rem;
    padding: .375rem 1.5rem;
    font-size: .85rem;

    &:hover {
        background: $text_primary;
        color: #fff;
        border: solid 1px $text_primary;
        text-decoration: none;
    }
}

.archive {
    article {
        padding: 2rem 0 1rem;
        border-bottom: solid 1px $border_color;;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }
}

article {
    img {
        margin-bottom: 1rem;
    }

    header {
        img {
            border-radius: .5rem;
            margin: 0;
        }
    }

    .ingress {
        padding: .5rem 0;
    }
}

.pagination {
    margin: 2rem 0 0;

    .page-item {
        margin: 0 .4rem;

        .page-link {
            background: #ccc;
            border-color: #ccc;
            color: #fff;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            border-radius: 1.25rem;
            transition: background ease-in-out .2s;

            &:hover {
                background: #aaa;
                transition: background ease-in-out .2s;
            }
        }

        &.active {
            .page-link {
                background: $text_primary;
                border-color: $text_primary;
            }
        }
    }
}